<div class="py-4">
  <h1 class="my-4">購入明細詳細</h1>

  <p>
    <strong>ご注文者様:</strong>
    <%= @order.family_name %> <%= @order.given_name %> 様
  </p>
  <p>
    <strong>注文日時:</strong>
    <%= @order.created_at %>
  </p>


  <h2>注文商品一覧</h2>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>商品名</th>
        <th>価格</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% total_price = 0 %>
      <% @order.order_items.each do |item| %>
        <% total_quantity = 0 %>
        <% subtotal_price = item.price * item.quantity %>
        <% total_quantity += item.quantity %>
        <% total_price += subtotal_price %>
        <tr>
          <td><%= item.product_name %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(subtotal_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><strong>合計金額：</strong><%= number_to_currency(total_price) %></p>

  <%= link_to '購入明細一覧に戻る', orders_path, class: 'btn btn-primary mt-5' %>
</div>