<div class="py-5 text-center">
  <h2>ご購入手続き</h2>
</div>

<div class="row g-5 pb-5">
  <div class="col-md-5 col-lg-4 order-md-last">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-primary">カートの商品</span>
      <span class="badge bg-primary rounded-pill"><%= @cart.cart_items.count %></span>
    </h4>
    <ul class="list-group mb-3">
      <% total_price = 0 %>
      <% @cart.cart_items.each do |item| %>
        <% item_total = item.product.price * item.quantity %>
        <% total_price += item_total %>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0"><%= item.product.name %> × <%= item.quantity %></h6>
            <p><%= button_to "削除", cart_item_path(item), method: :delete,
            class: "btn btn-outline-danger btn-sm", style: "font-size:.8rem" %></p>
          </div>
          <span class="text-body-secondary"><%= number_to_currency(item_total) %></span>
        </li>
      <% end %>
      <%# 割引コード %>
      <% if @cart.promotion_code.present? %>
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small><%= @cart.promotion_code.code %></small>
          </div>
          <span class="text-success">−<%= number_to_currency(@cart.promotion_code.discount) %></span>
        </li>
      <% end %>

      <li class="list-group-item d-flex justify-content-between">
        <span>合計</span>
        <strong><%= "#{number_to_currency(total_price - (@cart.promotion_code&.discount || 0))}" %></strong>
      </li>
    </ul>

    <%= form_with url: apply_promo_code_path, method: :post, class: "card p-2" do |f| %>
      <div class="input-group">
        <%= f.text_field :code, class: "form-control", placeholder: "Promo code" %>
        <%= f.submit "適用", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'carts/form' %>
</div>
